<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{master.html}">
<head>
<meta charset="UTF-8">
<title th:inline="text">Hospedajes</title>
</head>
<body>

<div layout:fragment="content">
		<h4>Todos los Hospedajes</h4>

		<div class="row">
			<div class="row">
				<div class="col-md-3 my-5" th:each="hospedaje : ${hospedajes}"
					th:object="${hospedaje}">
					
					<a th:href="@{/hospedajes/{idhospedaje}(idhospedaje=*{idhospedaje})}" class="card shadow-lg"
						style="text-decoration: none;"> 
						<img
						th:src="@{/assets/{filename}(filename=*{rutaPortada})}"
						th:alt="*{nomHospedaje}" class="card-img-top">
						
						<div class="card-body">
						
							<h2 class="card-title fs-4" th:text="*{nomHospedaje}"></h2>
							 <div class="mb-3">
					<span class="badge rounded-pull bg-light text-dark me-1"
						th:each="servicio : *{servicios}" th:text="${servicio.servicio}"></span>
						</div>
							  <h2 class="card-title fs-6"  style="color: #888888;" th:text="*{precioHospedaje}"></h2>
							<p th:text="|Integrado el: *{#temporals.format(fechaHospedaje,'dd/MM/yyyy')}|"
								style="color: #FF0000; font-weight: bold;"></p>
						
						</div>
					</a>
				</div>
			</div>
			<div class="row mt-5" th:with="page=${hospedajes}">
				<div class="col-sm-6">
					<div sd:pagination-sumary></div>
					<div class="col-sm-6">
						<nav>
							<ul class="pagination" sd:pagination="full"></ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>